<h3>Here are the 100 most recent tweets for '<%= @search_term %>'</h3>
<table>
  <tr>
    <th>User</th>
    <th>Tweed</th>
    <th>Date</th>
  </tr>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.user.screen_name %></td>
      <td><%= tweet.text %></td>
      <td><%= tweet.created_at %></td>
    </tr>
  <% end %>
</table>