<h1>Welcome to the Ruby Twitter Client</h1>
<h3>In order to display the tweets of your choice, please enter a search term:</h3>
<%= form_tag("twitter_client", method: "get") do %>
  <%= text_field_tag "search"%>
  <%= submit_tag "Find Tweets" %>
<% end %>
<% if @search_term.present? %>
  <%= render 'tweets', locals: { search_term: @search_term, tweets: @tweets} %>
<% end %>

