<h1>Welcome to the Ruby Twitter Client</h1>
<p>In order to display the tweets of your choice, please enter a search term:</p>
<%= form_tag("twitter_client", method: "get") do %>
  <%= text_field_tag "search"%>
  <%= submit_tag "Find Tweets" %>
<% end %>

